<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration debug="false" scan="true" scanPeriod="15 seconds">
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
    <import class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy"/>
    <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <property name="LOG_FILE" value="/logs/app-dependency-update/app-dependency-update"/>
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}] [%thread] [%level] [%c{0}]--- %msg%n"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <filter class="ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder class="PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="FILELOG" class="RollingFileAppender">
        <file>${repo_home}${LOG_FILE}.log</file>
        <rollingPolicy class="SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${repo_home}${LOG_FILE}_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>14MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="org.mongodb.driver" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILELOG"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILELOG"/>
    </root>
</configuration>
